<!DOCTYPE html>
<html>
<link href="../../../assets/stylesheets/normalize.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="style">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<head>
	<title>PetStargram Cats</title>

<hgroup>
 <h1 class="site-name"><a href="/">PetStargram</a></h1>
 <h3 class="slogan">The Cutest pets on Instagram!</h3>
</hgroup>
</head>

<nav class="mainmenu">
  <ul class="menu">
    <li><%= link_to "Cats", cat_index_path %></li>
    <li><a href="#">Dogs</a></li>
    <li><a href="#">Others</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Nav Item5</a></li>
  </ul>
</nav>


<% @pet.where(:kind => "cat").each do |c| %>
<%= image_tag(c.image_url) %>
<%= c.followers %>
<% end %>






