<!DOCTYPE html>
<html>
<link href="../../../assets/stylesheets/normalize.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="style">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<head>
	<title>PetStargram</title>

<hgroup>
 <h1 class="site-name"><a href="/">PetStargram</a></h1>
 <h3 class="slogan">The Cutest pets on Instagram!</h3>

</hgroup>
</head>

<nav class="mainmenu">
  <ul class="menu">
    <li><a href="#">Cats</a></li>
    <li><a href="#">Dogs</a></li>
    <li><a href="#">Others</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Nav Item5</a></li>
  </ul>
</nav>


<body>

  <div class="cat_container">
    	<img src='http://photos-c.ak.instagram.com/hphotos-ak-xaf1/10632081_749681735098754_1009063030_n.jpg'>
    <h4> No.1 Cat! </h4>
    <h4><a href="">Nala</a></h4>
    <h4><%= @followers %></h4>
    <div class="cat_body">
      <p>Tardar Sauce, AKA Grumpy Cat might be the most popular cat in the media, but in Instagram Nala is the queen. Beating Tardar Sauce by more than four hundred thousand followers,  Nala is the only cat with over one million followers! Looks like she will be getting comfortable up in the number one spot, while other cats go through furious battle of cuteness.</p>
    </div> 
</div>

<div class="other_container">
    <img src='http://photos-h.ak.instagram.com/hphotos-ak-xfa1/10654898_721842437870751_2123901791_n.jpg'>
    <h4>No.1 Other Pet!</h4>
    <h4><a href="#">Other</a></h4>
    <div class="other_body">
      <p>Cats and Dogs aren't the only pets out there. Check out these group of bunnies Eddy, Rambo and Marbee. Eddy, Rambo and Marbee are three cage-free house bunnies that roam around Olive(Owner)'s house armed in cuteness. With army of hedgehogs chasing after them, lets see how long these bunnies could hold the No.1 Spot!
    </div> 
</div>


<div class="dog_container">
    <img src='http://photos-h.ak.instagram.com/hphotos-ak-xaf1/10655146_741897905870511_1622033811_n.jpg'>
    <h4>No.1 Dog!</h4>
    <h4><a href="#">Dog</a></h4>
    <div class="dog_body">
      <p>The Japanese Shiba Inu Maru has close to million followers! The 7 year old Maru has a birthday coming up in October, and with Tuna closely chasing him from the no.2 spot, lets see if Maru can keep the crown for his birth month</p>
    </div> 
</div>

</body>
</html>
