*{
  box-sizing:border-box;
}


.login {
  background-color: rgb(24, 188, 156);
  margin: 3em auto;
  padding: 1em;
  width: 25em;
  height: 20em;
  border-radius: 1em;
  text-align: center;
}

.logbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.logbutton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.logbutton:active {
  position:relative;
  top:1px;
}


.retrieve {
  background-color: rgb(44, 62, 80);
  margin: 0 auto;
  padding: 1em;
  width: 25em;
  height: 5em;
  border-radius: 1em;
  text-align: center;
}

/*.newpet {
  background-color: rgb(24, 188, 156);
  text-align: center;
  margin: 0 auto;
  width: 25em;
  padding: 1em;
}*/

.newpet li {
  text-align: center;
  list-style-type: none;
}

/*INDIVIDUAL PAGE*/
.cats {
   border-radius: 20px;
   text-align: center;
   display: block;
   margin-top: 60px;
}

.cats img{
  max-width: 300px;
  max-height: 300px;
	border-radius: 50%;
	height: auto;
	width: auto;
}

.catfollow {
  padding-top: 2em;
}

.dogs {
   border-radius: 20px;
   text-align: center;
   display: block;
   margin-top: 60px;
}

.dogs img{
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.dogfollow {
  padding-top: 2em;
}

.other {
   border-radius: 20px;
   text-align: center;
   display: block;
   margin-top: 60px;
}

.other img{
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.otherfollow {
  padding-top: 2em;
}

.ownpet {
  border-radius: 50%;
  height: 60%;
  width: 60%;

}

