*{
  box-sizing:border-box;
}


body {
	background-image:url("http://i.imgur.com/cZxYU3M.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60%;
}

.login_info {
	height: 6em;
	width: 10em;

}

.grumpycat img{
	margin-top: -100px;
	display: block;
	float :left;
	height: 80px;
	width: 90px;
}

.grumpycat{
	height: 100px;
	width: 80px;
}

.biddy img{
	display: block;
	float :left;
	height: 70px;
	width: 80px;
}

.biddy{
	height: 100px;
	width: 80px;
}


/*.grumpycat{
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
}*/

.maru img {
	margin-top: -110px;
	display: inline;
	float :left;
	height: 70px;
	width: 80px;
}

.tophead{
	margin-top: -100px;
	font-size: 250%;
	text-align: center;
	font-family: 'Poiret One', strong;
}

.site-name {
	margin:0;
}

.slogan {
	margin: 0;
}



#nav {
	width:750px;
	margin:0 auto;
	margin-top: 1em;
	list-style:none;
}
#nav li {
	float:left;
	display:block;
	text-align:center;
	width:150px; /* fixed width */
	text-decoration:none; 
	height: 1em;
	background:	#C0F2FF;
	color: #FFFFD6;
	border-right: 1px solid #fff;
	padding: 2em 0;
	transition: all .5s ease;
}


ul.menu li a:hover,
ul.menu li a:focus  {
  background:#C0F2FF;
  color:#FFFFD6;
  transition: all .1s ease;
  text-decoration:none;
}

/*TOP HALF*/
.rankhome {
	margin-top: 90px;
	border:solid #9BE6FF;
	border-radius: 10px;
}

.rankhome h1{
	font-family: 'Poiret One', strong;
	padding:1%;
}

.rankhome img {
	float:right;
	border-radius:50%;
	display: block;
	border: 1px solid #9BE6FF;
	height: 200px;
	/*margin: auto;*/
	width: 200px;
}

.cat_container{
	margin: auto;
	font-size: 150%;
	padding: 2%;
	float: left;
	width: 30%;
	font-family: 'Poiret One', cursive;
	vertical-align: center;
	text-align: center;
}

.cat_body{
	font-size: 70%;
}

.dog_container{
	margin: auto;
	float: left;
	font-size: 150%;
	padding: 2%;
	font-family: 'Poiret One', cursive;
	vertical-align: center;
	text-align: center;
	width: 30%;
}

.dog_body{
	font-size: 70%;
}

.other_container{
	margin:auto;
	font-size: 150%;
	padding:2%;
	float: left;
	width: 27%;
	font-family: 'Poiret One', cursive;
	vertical-align: center;
	text-align: center;
}
.other_body{
	font-size: 70%;
}
/*TOP HALF END*/


/*.animated{
    position: fixed;
	height:0px;
	width: 200px;
}*/

/*INDIVIDUAL PAGE*/
.cats {
   border-radius: 20px;
   text-align: center;
   display: block;
   margin-top: 140px;
}
.cats img{
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.dogs {
   border-radius: 20px;
   text-align: center;
   display: block;
   margin-top: 140px;
}
.dogs img{
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.other {
   border-radius: 20px;
   text-align: center;
   display: block;
   margin-top: 140px;
}
.other img{
	border-radius: 50%;
	height: 300px;
	width: 300px;
}
/*INDIVIDUAL PAGE END*/


/*BOTTOM HALF*/
.video_container {
	margin-left: 10px;
	border: solid #99E6FF;
	border-radius: 10%;
	clear:both;

	float: left;
	font-size:110%;
	font-family: 'Poiret One', cursive;
	width: 40%;
	padding: 1.5%;
	text-align: left;
}

.petofmonth {
/*	clear:both;*/
	margin-left: 40px;
	border: solid #99E6FF;
	border-radius: 5%;
	margin-top: -0px;
	float: left;
	font-size:110%;
	font-family: 'Poiret One', cursive;
	width: 28%;
	padding:1%;
	text-align: left;

}

.petofmonth img{
	border-radius: 50%;
	height:250px;
	width:250px;
}

/*.doge {
	clear:both;
	margin: auto;
}*/



.doge img{
	margin-top: 60px;
	border: solid #99E6FF;
	border-radius: 10%;
	padding:1%;
	clear: both;
	margin-right: auto;
	margin-left: 70px;
	height: 200px;
	width: 150px;
}


.donate img{
	border: solid #99E6FF;
	border-radius: 10%;
	float:left;
	margin-right: auto;
	margin-left: 70px;
	display: block;
	height: 210px;
	width: 180px;
}

.footer {

	padding:2%;
	text-align: center;
	clear: both;
	height: 30px;
}

.footer img{
	height:30px;
	width: 25px;
}

/*BOTTOM HALF END*/




