hgroup {
	font-size: 200%;
	text-align: center;
	padding:2%;
	font-family: 'Lobster', cursive;
}

.site-name {
	margin:0;
}

.slogan {
	margin: 0;
}



ul.menu:after{
  content:' ';
  display:table;
  clear:both;
}


ul.menu {
	font-size: 150%;
	font-family: 'Lobster', cursive;
	float: center;
	display: block;
	margin: center;
	overflow: hidden;
	padding: 0 2%;
	width: 120%;
}

ul.menu li {
	float: left;
	height: 2em;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0 10% 0 0;
	text-align: center;
}

ul.menu li a:hover,
ul.menu li a:focus  {
  color: #000;
}

.cat_container{
	font-size: 200%;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	padding: 5%;
	float: left;
	width: 350px;
	font-family: 'Poiret One', cursive;
	vertical-align: center;
	text-align: center;
}

.cat_body{
	font-size: 70%;
}

.dog_container{
	font-size: 200%;
	padding: 5%;
	font-family: 'Poiret One', cursive;
	vertical-align: center;
	text-align: center;
}

.dog_body{
	font-size: 70%;
}

.other_container{
	font-size: 200%;
	padding:5%;
	float: right;
	width: 350px;
	font-family: 'Poiret One', cursive;
	vertical-align: center;
	text-align: center;
}
.other_body{
	font-size: 70%;
}

img {
	display: block;
	border: 1px solid #333;
	float: center;
	height: 200px;
	margin: auto;
	width: 200px;
}







