<!DOCTYPE html>
<link rel="stylesheet" href="animate.min.css">
<link href="../../../assets/stylesheets/normalize.css" rel="stylesheet" type="text/css">

<html>
<head>
  <title>Petstargram</title>



<body>

<%= yield %>

</body>
</html>


