<!DOCTYPE html>

<html>
<head>
  <title>Petstargram</title>
    <div class="login_info">
    	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    	  <%= csrf_meta_tags %>
    </div>

<body>

<%= yield %>

</body>
</html>


